  <!-- Sidebar -->
  <div class="sidebar">
    <h4 class="text-center text-white">HESABIM</h4>
    <a style="cursor: pointer;" routerLink="/user/userInfos">Kullanıcı Bilgilerim</a>
    <a style="cursor: pointer;" routerLink="/user/orders">Siparişlerim</a>
    <a style="cursor: pointer;" routerLink="/user/cards">Kayıtlı Kartlarım</a>
    <a style="cursor: pointer;" routerLink="/user/ibans">IBAN Bilgilerim</a>
    <a style="cursor: pointer;" routerLink="/user/addresses">Adreslerim</a>
    <a style="cursor: pointer;" routerLink="/user/passwordChange">Şifre Değişikliği</a>
    <a style="cursor: pointer;" routerLink="/user/favorites">Beğendiklerim</a>
  </div>

