<div class="container">
    <div class="card p-4 shadow-lg">
      <h3 class="card-title text-center mb-4">Şifremi Unuttum</h3>
      <form>
        <div class="form-group mb-3">
          <label for="email" class="mb-2">Email Adresi</label>
          <input type="email" class="form-control mb-3" id="email" placeholder="Email adresinizi giriniz" required #txtEmail>
        </div>
        <button (click)="passwordReset(txtEmail.value)" class="btn btn-primary btn-block mb-3">Şifre Sıfırlama Linki Gönder</button>
      </form>
      <div class="text-center mt-4">
        <a routerLink="/login" class="text-muted">Geri Dön</a>
      </div>
    </div>
  </div>