
<mat-list role="list">
    <mat-list-item role="listitem"><a routerLink="/admin">Dashboard</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/authorize-menu">Yetki Menüsü</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/users">Kullanıcılar</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/categories">Kategoriler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/customers">Müşteriler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/orders">Siparişler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/brands">Markalar</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/products">Ürünler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/roles">Roller</a></mat-list-item>
  </mat-list>